
  <div class="songs"> 
  <h5> Title: <a href="<%=@song.url%>"><%=@song.song_title%> </a></h5>
  <h5>  by: <%=@song.singer %> </h5>
  <hr/>
  <p> Created at: <%=@song.created_at %> </p>
  <p> Updated at: <%=@song.updated_at %> </p>
  </div>

  <form method="post" action="/songs/<%=@song.id%>/update">
  <div>
     <label> Song title: </label>
     <input type="text" name="song_title" value="<%=@song && @song.song_title%>">
   </div>
   <div>
     <label> Singer: </label>
     <input type="text" name="singer" value="<%=@song && @song.singer%>">
   </div>
   <div>
     <label> Link: </label>
    <input type="text" name="link" value="<%=@song && @song.url%>">
  </div>
   <div>
    <input type="submit" value="Submit">
  </div>
</form>


